<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER de Medicina</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to bottom, #eef1f5, #cdd8e4);
        }
        .navbar {
            background-color: #333;
        }
        .navbar-brand, .navbar-nav .nav-link {
            color: #fff;
        }
        .container {
            margin-top: 50px;
        }
        .jumbotron {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        #input-text {
            height: 200px;
        }
        #output-text {
            height: 200px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">NER de Medicina</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">NER de Medicina</h1>
            <hr class="my-4">
                <div class="row">
                    <div class="col-md-6">
                        <form action="" method="GET">
                            <h4>Texto de Entrada</h4>
                            <textarea class="form-control" id="input-text" name="text" placeholder="Ingrese su texto aquí"></textarea>
                            <button class="btn btn-primary" type="submit">Procesar</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4>Resultado NER</h4>
                        {{ html|safe }}
                    </div>
                </div>
              
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

<!-- <body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">NER de Medicina</h1>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-4">
                    <form action="" method="GET">
                        <h4>Texto de Entrada</h4>
                        <textarea class="form-control" id="input-text" name="text" placeholder="Ingrese su texto aquí"></textarea>
                        <button class="btn btn-primary" type="submit">Procesar</button>
                    </form>
                </div>
                <div class="col-md-8">
                    <h4>Resultado NER</h4>
                    {% if html %}
                    <div class="row">
                        <div class="text-justify">
                            {{ html|safe }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body> -->
